<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lab_polo_cientifico.polo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherpolo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherpolo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        ///ACTIVITY DE INICIO///
        <activity android:name=".Activities.IngresoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Menu.PrincipalActivity" />
        <activity
            android:name=".Activities.Menu.CalendarioMenuActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.Calendar.HoyCalendarioActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.Calendar.SemanalCalendarioActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.Calendar.MensualCalendarioActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.Menu.BuffetMenuActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity
            android:name=".Activities.Bar.ListaComidasBarActivity"
            android:parentActivityName=".Activities.Menu.BuffetMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.BuffetMenuActivity" />
        </activity>
        <activity
            android:name=".Activities.Bar.GridComidasBarActivity"
            android:parentActivityName=".Activities.Menu.BuffetMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.BuffetMenuActivity" />
        </activity>
        <activity
            android:name=".Activities.Bar.ListaComidasBar2Activity"
            android:parentActivityName=".Activities.Menu.BuffetMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.BuffetMenuActivity" />
        </activity>
        <activity
            android:name=".Activities.NoticiasActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
        <activity android:name=".Activities.ClimaActivity"
            android:parentActivityName=".Activities.Menu.PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Menu.PrincipalActivity" />
        </activity>
    </application>

</manifest>